body{
    background-color: steelblue;
}

.main-section{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 220px;
    justify-content: center;
    margin-right: 20px;
    padding-right: 175px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: dotted 3px;
    margin-bottom: 20px;
    background-color: gray;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}